<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../layout/navber.css" th:href="@{/navber.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css}" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- Header Section Begin -->
<header  class="header">
    <h2>PHONG</h2>
    <div th:fragment="navbar" class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right" style="position: relative">
                        <div class="header__top__links" id="menuToggle">
                            <a th:if="${session.UserLoginSession == null}" th:href="@{/login-account}">Sign in</a>
                            <div th:unless="${session.UserLoginSession == null}" style="display: inline;margin-right: 15px">
                                <img width="30px" height="30px" style="border-radius: 50%; border: 1px solid #fff"
                                     th:if="${session.UserLoginSession.getAvatar() != null}"
                                     th:src="|/image/${session.UserLoginSession.getAvatar()}|" alt="">
                                <img width="30px" height="30px" style="border-radius: 50%; border: 1px solid #fff"
                                     th:if="${session.UserLoginSession.getAvatar() == null}"
                                     src="https://media.istockphoto.com/id/1298261537/vi/vec-to/ch%E1%BB%97-d%C3%A0nh-s%E1%BA%B5n-cho-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-%C4%91%E1%BA%A7u-h%E1%BB%93-s%C6%A1-ng%C6%B0%E1%BB%9Di-%C4%91%C3%A0n-%C3%B4ng-tr%E1%BB%91ng.jpg?s=612x612&w=0&k=20&c=Rbi2tNjNA4z86gzSPBhGOefKI-XTKqlqGy-kiPoUvRA="
                                     alt="">
                                <a th:if="${session.UserLoginSession != null}"
                                   th:text="${session.UserLoginSession.fullName}"></a>
                                <span>|</span>
                            </div>
                        </div>
                        <ul class="menu_profile" style="list-style: none;background-color: #494747;position: absolute;right: -80px;text-align: center; color: #fff;z-index: 2; padding: 10px 10px 10px 10px;   display: none;">
                            <li style="width: 120px; padding: 5px 0; border-bottom: 1px solid #fff;">Profile</li>
                            <li style="width: 120px; padding: 5px 0; border-bottom: 1px solid #fff">Cart</li>
                            <li style="width: 120px; padding: 5px 0; border-bottom: 1px solid #fff">History</li>
                            <li style="padding: 5px 0">Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/home"><img th:src="@{img/logo.png}" alt="" src=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/shop-details">Shop Details</a></li>
                                <li><a href="/shopping-cart">Shopping Cart</a></li>
                                <li><a href="/checkout">Check Out</a></li>
                                <li><a href="/blog-details">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="img/icon/heart.png" alt=""></a>
                    <a href="/shopping-cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
</body>
</html>