<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap}"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <style>

    </style>
</head>

<body>
<!-- Header Section Begin -->
<header class="header">
    <p id="addToCart" th:if="${addToCart}" th:text="${addToCart}" style="display: none"></p>
    <script>
        let addToCart = document.getElementById("addToCart").innerText;
        if (addToCart.trim() !== "") {
            alert("Đã thêm sản phẩm vào giỏ háng!")
        }
    </script>
    <th:block th:insert="/layout/navbar :: navbar"/>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/home"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/shop-details">Shop Details</a></li>
                                <li><a href="/shopping-cart">Shopping Cart</a></li>
                                <li><a href="/checkout">Check Out</a></li>
                                <li><a href="/blog-details">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="img/icon/heart.png" alt=""></a>
                    <a th:if="${session.UserLoginSession!= null}" href="/shopping-cart"><img src="img/icon/cart.png"
                                                                                             alt=""> <span>0</span></a>
                    <a th:unless="${session.UserLoginSession!= null}" href="/login-account"><img src="img/icon/cart.png"
                                                                                                 alt=""> <span>0</span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/home">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul class="nice-scroll" th:each="ca : ${categories}">
                                                <li>
                                                    <a th:href="'/shop/category/' + *{ca.categoryId} "
                                                       th:text="*{ca.categoryName}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul th:each="brand : ${brands}">
                                                <li>
                                                    <a th:href="'/shop/brand/' + *{brand.brandId} "
                                                       th:text="*{brand.nameBrand}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="/shop/productPrice?min=0&max=999999">0VNĐ - 999.999VNĐ</a>
                                                </li>
                                                <li><a href="/shop/productPrice?min=1000000&max=2999999">1.000.000VNĐ -
                                                    2999.999VNĐ</a></li>
                                                <li><a href="/shop/productPrice?min=3000000&max=4999999">3.000.000VNĐ -
                                                    4.999.999VNĐ</a></li>
                                                <li><a href="/shop/productPrice?min=5000000&max=9999999">5.000.000VNĐ -
                                                    9.999.999VNĐ</a></li>
                                                <li><a href="/shop/productPrice?min=10000000&max=29999999">10.000.000VNĐ
                                                    - 29.999.999VNĐ</a></li>
                                                <li><a href="/shop/productPrice?min=30000000"> > 30.000.000VNĐ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">

                                            <ul th:each="size : ${sizes}">
                                                <li>
                                                    <a th:href="'/shop/productSize/' + *{size.sizeId} "
                                                       th:text="*{size.sizeName}">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <div id="pagination">
                                    Trang: <span id="currentPage"></span>/
                                    <span id="totalPages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="productContainers">
                    <th:block th:each="product : ${productList}">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:data-setbg="|/image/${product.image}|">
                                    <ul class="product__hover">
                                        <li><a href="#"><img th:src="@{/img/icon/heart.png}" alt=""></a></li>
                                        <li><a th:href="'shop-details/' + ${product.productId}"><img
                                                th:src="@{/img/icon/search.png}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 th:text="${product.name}"></h6>
                                    <a th:if="${session.UserLoginSession==null}" th:href="@{/login-account}"
                                       class="add-cart">+ Add To Cart</a>
                                    <a th:unless="${session.UserLoginSession==null}"
                                       th:href="|/shop/add-cart/${product.productId}|" class="add-cart">+ Add To Cart
                                    </a>
                                    <h5 th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'Đ'"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <nav aria-label="Page navigation example ">
                    <ul class="pagination float-end mx-4">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="previousPage()">Trang trước</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);" onclick="nextPage()">Trang sau</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
<script>
    let th = document.getElementById("th").innerText;
    if (th === "update") {
        alert("Thêm thành công !")
    } else if (th === "create") {
        alert("Đã thêm vào giỏ hàng !")
    }
</script>
<script>
    // Lấy tham chiếu đến các phần tử
    const productContainers = document.getElementById("productContainers");
    const currentPageElement = document.getElementById("currentPage");
    const totalPagesElement = document.getElementById("totalPages");

    // Các hằng số cho phân trang
    const itemsPerPage = 9;
    let currentPage = 1;

    // Hàm để cập nhật sản phẩm hiển thị dựa trên trang hiện tại
    function updateProducts() {
        const startIndex = (currentPage - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        const products = productContainers.querySelectorAll(".product__item");

        products.forEach((product, index) => {
            product.style.display = index >= startIndex && index < endIndex ? "block" : "none";
        });

        currentPageElement.textContent = currentPage;
    }

    // Hàm để xử lý điều hướng trang
    function navigateToPage(page) {
        if (page >= 1 && page <= totalPageCount) {
            currentPage = page;
            updateProducts();
        }
    }

    // Cập nhật tổng số trang
    const totalProducts = productContainers.querySelectorAll(".product__item").length;
    const totalPageCount = Math.ceil(totalProducts / itemsPerPage);
    totalPagesElement.textContent = totalPageCount;

    // Tải trang ban đầu
    updateProducts();
</script>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="productContainer">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.nicescroll.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>